<html>
  <head>
    <title>New Project</title>
  </head>
  <body align = 'center'>
    <h1 align = "center">customer details</h1>
    <br>
    color directive<input type = "color" [(ngModel)] = "col">
    <p  appExample [color] = col>hello meghana</p>

    <!-- viewchild -->
    <h5> {{message}}</h5>
    title:<input type = "text" [(ngModel)] = "title">
    title:<input type = "text" [(ngModel)] = "title"><br>
    <br>
    <button (click)="Increment()" > increment</button>
    <button (click) = "Decrement()" >decrement</button><br>
    <!-- propertybinding -->
    <!-- <app-child [count]=count></app-child>  -->
    <!-- propertybinding -->
    
    <!--  "@output" -->
    <!-- <app-child (countChange) = display($event)></app-child> -->
    <!-- '@output' -->
    
<!-- local variable -->
<app-child #chi></app-child>
<h1> {{chi.meghana}}</h1>
<!-- local variable -->
    <br><input type = "text" [value] = name>
    <input type = "text" [value] = name><br><br>
    
    
    <app-clist></app-clist>

  </body>
</html>
